* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

aside {
    width: 100%;
    max-width: 220px;
    background-color: #000000;
    color: #A3A3A3;
    padding: 20px 0px;
    display: grid;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    grid: 'logo'
            'nav'
            'gap'
            'logout';
    grid-template-rows: 15% 60% 10% 20%;
}

.logo {
    display: flex;
    grid-area: logo;
    gap: 2px;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #a3a3a3;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.logo span {
	color:  #F97316;
	margin-left: 4px;
}

.logo-img {
	width: 180px;
	height: auto;
	align-self: center;
}

nav {
	grid-area: nav;
    width: 100%;
}
nav ul {
    list-style: none;
    width: 100%;
}

nav ul li {
    width: 100%;
    max-width: 200px;
    padding: 1px 15px 1px 15px;
    margin: 5px 10px 5px 10px
}

nav ul li a {
    text-decoration: none;
    color: #A3A3A3;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

nav ul h3{
    text-decoration: none;
    color: #A3A3A3;
    font-size: 16px;
    display: flex;
    align-items: baseline;
    gap: 8px;
}

nav ul li a .material-icons,
.logout a .material-icons {
    font-size: 18px;
    color: #A3A3A3;
}

#navFuncionarios {
    background-color: #F97316;
    border-radius: 10px;
}

#navFuncionariosText {
    color: #ffffff;
}

.logout {
    grid-area: logout;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-top: 2px solid #a3a3a3;
    padding: 20px 20px 15px 20px;

}

.logout h4 {
    margin-bottom: 10px;
}

.logout a {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #A3A3A3;
    font-size: 16px;
}

main {
    background-color: #171717;
    flex-grow: 1;
    padding: 40px 40px 20px 260px;
    min-width: 0;
    display: grid;
    gap: 2vh;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 4px;
}

.sub {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-areas:
    "nome cpf"
    "email rg"
    "senha telefone"
    "nvacesso celular"
    "cargo ."
    "line line"
	"endereco endereco" 
	"rua numero"
	"loteamento CEP"
	"cidade estado"
	"botao botao";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form h2 {
	color: #ffffff;
}

form h3 {
    color: #ffffff;
}

#nomeFuncionarioDiv {
  grid-area: nome;
}

#cpfFuncionarioDiv {
  grid-area: cpf;
}

#emailFuncionarioDiv {
  grid-area: email;
}

#rgFuncionarioDiv {
  grid-area: rg;
}

#nivelAcessoSelect {
	grid-area: nvacesso;
}

#cargoFuncionarioDiv {
  grid-area: cargo;
}

#senhaFuncionarioDiv {
    grid-area: senha;
}

#telefoneFuncionarioDiv {
	grid-area: telefone;
}

#celularFuncionarioDiv {
    grid-area: celular;
}

#coolAssLine {
    grid-area: line;
}

#subtituloEndereco {
	grid-area: endereco;
}

#ruaFuncionarioDiv {
    grid-area: rua;
}

#numeroFuncionarioDiv {
    grid-area: numero;
}

#bairroFuncionarioDiv {
    grid-area: loteamento;
}

#cepFuncionarioDiv {
    grid-area: CEP;
}

#cidadeFuncionarioDiv {
    grid-area: cidade;
}

#estadoFuncionarioDiv {
    grid-area: estado;
}

#botaoCadastroDiv {
    grid-area: botao;
    display: flex;
    justify-content: center;
}

.inputDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.toggleProprietario {
	display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: small;
    color: #A3A3A3;
    padding-left: 0.3rem;
    padding-bottom: 0.2rem;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #737373;
    border-radius: 5px;
    background-color: #000000;
    color: #A3A3A3;
    max-height: 37px;
    max-width: 420px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #737373;
    border-radius: 5px;
    background-color: #000000;
    color: #A3A3A3;
    max-height: 37px;
    max-width: 420px;
}

.btn-cadastrar {
    background-color: #F97316;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    align-self: flex-end;
    margin-top: 12.4px;
    max-width: 320px;
}

footer {
    background-color: #171717;
    text-align: center;
    padding: 38px 40px 35px 260px;
    font-size: 14px;
    color: #a3a3a3;
    border-top: 2px solid #dddddd;
}

@media (max-width: 768px) {
  form {
    grid-template-areas:
      "img"
      "nome_proprietario"
      "CEP"
      "rua"
      "nome_imovel"
      "loteamento"
      "valor_matricula"
      "numero_imovel"
      "numero_matricula"
      "cidade"
      "botao";
    grid-template-columns: 1fr;
  }

  input {
    padding: 12px;
  }

  .btn-cadastrar {
    width: 100%;
    justify-self: center;
  }
}