* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar a {
  display: block;
  color: #bdbdbd;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #ff7b00;
  color: #fff;
  border-radius: 5px;
}

.logout {
  text-align: center;
  padding-bottom: 15px;
}

.logout a {
  color: #bdbdbd;
  text-decoration: none;
  transition: 0.3s;
}

.logout a:hover {
  color: #ff7b00;
}

/* CONTEÚDO PRINCIPAL */
.content {
  flex: 1;
  background-color: #1e1e1e;
  padding: 40px 60px;
}

h1 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

/* FORMULÁRIO */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.full {
  width: 100%;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ccc;
}

input {
  background-color: #111;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

input::placeholder {
  color: #777;
}

.btn {
  background-color: #ff7b00;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  align-self: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e56f00;
}
