{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '\css\cadastrarFuncionario.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Cadastrar Novo Funcionário</title>
</head>
<body>

    <div class="sidebar">
    <div class="sidebar-header">
      <h2>Sistema</h2>
      <div class="menu-icon">☰</div>
    </div>
    <div class="sidebar-menu">
      <div class="menu-item" onclick='location.href="{% url 'ponto_venda' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="12" cy="12" r="10" />
          <polyline points="12 6 12 12 16 14" />
        </svg>
        Ponto de Vendas
      </div>
      <div class="menu-item" onclick='location.href="{% url 'produtos:consulta_produto' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <rect x="3" y="3" width="7" height="7" />
          <rect x="14" y="3" width="7" height="7" />
          <rect x="14" y="14" width="7" height="7" />
          <rect x="3" y="14" width="7" height="7" />
        </svg>
        Produtos
      </div>
      <div class="menu-item" onclick='location.href="{% url 'clientes:consulta_cliente' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
          <circle cx="9" cy="7" r="4" />
          <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
          <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
        Clientes
      </div>
      <div class="menu-item" onclick='location.href="{% url 'fornecedores:consultaFornecedor' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
          <circle cx="8.5" cy="7" r="4" />
          <polyline points="17 11 19 13 23 9" />
        </svg>
        Fornecedores
      </div>
      <div class="menu-item active" onclick='location.href="{% url 'funcionarios:consultar' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
          <circle cx="12" cy="7" r="4" />
        </svg>
        Funcionários
      </div>
      <div class="menu-item" onclick='location.href="{% url 'historico_vendas' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
          <line x1="3" y1="6" x2="21" y2="6" />
          <path d="M16 10a4 4 0 0 1-8 0" />
        </svg>
        Vendas
      </div>
      <div class="menu-item" onclick='location.href="{% url 'produtos:relatorio_produtos' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <line x1="18" y1="20" x2="18" y2="10" />
          <line x1="12" y1="20" x2="12" y2="4" />
          <line x1="6" y1="20" x2="6" y2="14" />
        </svg>
        Relatório
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="menu-item" onclick='location.href="{% url 'Login' %}"'>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
          <polyline points="16 17 21 12 16 7" />
          <line x1="21" y1="12" x2="9" y2="12" />
        </svg>
        Sair
      </div>
    </div>
  </div>
    <main>
    
        <header>
            <h2>Cadastrar Novo Funcionário</h2>
            <p class="sub">Preencha os dados do Funcionário para cadastrá-lo no sistema.</p>
        </header>

        <form onsubmit="mandarFuncionario(event)" id="cadFuncionario">
            {% csrf_token %}

            <div id="nomeFuncionarioDiv" class="inputDiv">
                <label>Nome do Funcionario</label>
                <input type="object" name="nome" id="nomeFuncionarioInput" class="funcionarioInput" placeholder="Nome do Funcionário" required>
            </div>

            <div id="cpfFuncionarioDiv" class="inputDiv">
                <label>CPF do Funcionário</label>
                <input type="text" name="cpf" id="propritarioFuncionarioInput" class="funcionarioInput" placeholder="000.000.000-00" maxlength="18" required>
            </div>

            <div id="emailFuncionarioDiv" class="inputDiv">
                <label>Email do Funcionario</label>
                <input type="email" name="email" id="emailFuncionarioInput" class="funcionarioInput" placeholder="exemplo@email.com" required>
            </div>

            <div id="rgFuncionarioDiv" class="inputDiv">
                <label>RG do Funcionario</label>
                <input type="text" name="rg" id="rgFuncionarioInput" class="funcionarioInput" placeholder="0.000.000" maxlength="18" required>
            </div>

            <div id="senhaFuncionarioDiv" class="inputDiv">
                <label>Senha do Funcionario</label>
                <input type="password" name="senha" id="senhaFuncionarioInput" class="funcionarioInput"  placeholder="senha" required>
            </div>

            <div id="senhaValidationFuncionarioDiv" class="inputDiv">
                <label>Repita a Senha do Funcionario</label>
                <input type="password" name="senha" id="senhaValidationFuncionarioInput" class=""  placeholder="senha" required>
            </div>

            <div id="telefoneFuncionarioDiv" class="inputDiv">
                <label>Telefone Fixo do proprietário</label>
                <input type="tel" name="telefone" class="funcionarioInput" id="telefoneFuncionarioInput" placeholder="00 0000-0000" required>
            </div>

            <div id="nivelAcessoSelect" class="inputDiv">
                <label>Selecione o Nível de Acesso do Funcionário</label>
                <select type="text" id="nivelAcessoFuncionarioInput" name="nivelAcesso" class="funcionarioSelect">
                    <option value="0">Usuário</option>
                    <option value="1">Adminstrador</option>
                </select>
            </div>

            <div id="celularFuncionarioDiv" class="inputDiv">
                <label>Telefone Celular do proprietário (opcional)</label>
                <input type="tel" name="celular" class="funcionarioInput" id="celularFuncionarioInput" placeholder="00 0000-0000">
            </div>

            <div id="cargoFuncionarioDiv" class="inputDiv">
                <label>Cargo do Funcionario</label>
                <input type="text" name="cargo" id="cargoFuncionarioInput" class="funcionarioInput" placeholder="caixa ;P" required>
            </div>

            <hr id="coolAssLine"/>

            <h3 id="subtituloEndereco">Dados de endereço do Funcionário</h3>

            <div id="ruaFuncionarioDiv" class="inputDiv">
                <label>Rua</label>
                <input type="text" name="rua" id="ruaFuncionarioInput" class="funcionarioInput" placeholder="Nome da rua" required>
            </div>

            <div id="splitAssDiv">

                <div id="numeroFuncionarioDiv" class="inputDiv">
                    <label>Número</label>
                    <input type="text" name="numero" id="numeroFuncionarioInput" class="funcionarioInput halfInput" placeholder="Número da casa" required>
                </div>
                
                <div id="complementoFuncionarioDiv" class="inputDiv">
                    <label>Complemento</label>
                    <input type="text" name="complemento" id="complementoFuncionarioInput" class="funcionarioInput halfInput" placeholder="Ex: apartamento">
                </div>

            </div>

            <div id="bairroFuncionarioDiv" class="inputDiv">
                <label>Bairro</label>
                <input type="text" name="bairro" id="bairroFuncionarioInput" class="funcionarioInput" placeholder="Nome do bariro" required>
            </div>

            <div id="cepFuncionarioDiv" class="inputDiv">
                <label>CEP</label>
                <input type="text" name="cep" id="cepFuncionarioInput" class="funcionarioInput" placeholder="00000-000" required>
            </div>

            <div id="cidadeFuncionarioDiv" class="inputDiv">
                <label>Cidade</label>
                <input type="text" name="cidade"id="cidadeFuncionarioInput" class="funcionarioInput" placeholder="Cidade" required>
            </div>

            <div id="estadoFuncionarioDiv" class="inputDiv">
                <label>Estado</label>
                <select type="text" name="estado" id="estadoFuncionarioInput" class="funcionarioSelect" placeholder="Escolha um estado">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernanbuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RR">Roraima</option>
                    <option value="RO">Rondônia</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>

            <div class="form-footer" id="botaoCadastroDiv">
                <button type="submit"id="botaoEnviar" class="btn-cadastrar">Cadastrar</button>
            </div>
        </form>

    </main>

    <script src="{% static 'js/cadastrarFuncionario.js' %}"></script>
</body>
</html>