body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #1a1a1a;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.loginDiv,
.loginDiv * {
    box-sizing: border-box;
}   
.loginDiv{
    background: #171717;
    position: relative;
    overflow: hidden;
    max-width: 450px;
    max-height: 400px;
    width: 50vw;
    height: 60vh;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #737373;
    display: grid;
    gap: 30px;
}
.loginText {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#quadrado {
    background-color: #F97316;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}
#quadradosquared {
    background-color: #F97316;
    border: 1px solid #ffffff;
}
h2 {
    color: #ffffff;
    margin: 10px;
    margin-bottom: 5px;
}
h4 {
    color: #a3a3a3;
    margin: 10px;
    margin-top: 5px;
}
form {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-sizing: border-box;
}
		
label {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 8px;
	display: none;
	box-sizing: border-box;
}

input, select {
	width: 100%;
    max-height: 2.5rem;
	padding: 0.5rem;
	border: 1px solid #737373;
	border-radius: 5px;
	font-size: 0.95rem;
	background-color: #000000;
    color: #ffffff;
	box-sizing: border-box;
}

input::placeholder {
	color: #737373;
}

input::placeholder {
	color: #737373;
}

button {
	padding: 0.5rem;
	background-color: #F97316;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
    max-height: 2.5rem;
}

button:hover {
	background-color: #F97316;
}
